<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Heebo:wght@900&display=swap" rel="stylesheet">
*{
    margin: 0;
    padding: 0;
}
body{
     background: url(111.jpeg) no-repeat center center fixed;
     background-size: cover;
     /* background-size: 100PX 100PX; */
}

.container{
    color: rgb(250, 246, 246);
    position: absolute;
    top: 25%;
    left: 40%;
}

.container h1{
    width: 50%;
    font-family: 'Heebo', sans-serif;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 43px;
    padding: 13px 17px;
}

.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}

.box input{
    background: none;
    font-family: 'Dosis', sans-serif;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(223, 245, 226);
}

.box i{
    /* padding: 0px 12px; */
    width: 25px;
    /* float: left; */
    text-align: center;
    size: 100px;
}

.btn{
    cursor: pointer;
    color: white;
    outline: none;
    /* width: 25%; */
    margin: 12px 0;
    padding: 6px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
}

.btn:hover{
    opacity: 0.5;
    color: purple;
    background: white;
}